<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon">
    <title>Lab 2 Просолович М.А. Тайц Ю.М.</title>
    <meta name="csrf-token" th:content="${_csrf.token}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
</head>
<body>
<table class="wrapper">
    <tr class="header">
        <td class="students">P33211 Просолович М.А. Тайц Ю.М.</td>
        <td class="variant">Вариант 5126</td>
    </tr>
    <tr class="content">
        <td colspan="2">
            <div class="login-error" th:if="${param.error}">
                Неверные логин или пароль.
            </div>
            <div class="logout" th:if="${param.logout}">
                <p>Вы успешно вышли из аккаунта.</p>
            </div>
            <div class="login-message" th:if="${message}">
                <p th:text="${message}"></p>
            </div>
            <form th:action="@{/login}" class="signin" method="post">
                <div>
                    <label class="signin-label">Имя пользователя
                        <input id="username-input" placeholder="Введите имя пользователя" type="text" name="username"/>
                    </label>
                </div>
                <div>
                    <label class="signin-label">Пароль
                        <input id="password-input" placeholder="Введите пароль" type="password" name="password"/>
                    </label>
                </div>
                <div>
                    <input class="btn-signin" type="submit" value="Войти"/>
                </div>
            </form>
            <form id="signup-form" class="signup" method="post">
                <div>
                    <input class="btn-signup" type="submit" value="Зарегистрироваться"/>
                </div>
            </form>
        </td>
    </tr>
</table>
<script type="text/javascript" th:src="@{/static/jquery-3.4.1.min.js}"></script>
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            headers:
                {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}
        });

        $('#signup-form').submit(function (e) {
            e.preventDefault();
            const formData = $("#signup-form").serializeArray();
            const username = $('#username-input').val();
            formData.push({name: "username", value: username});
            formData.push({name: "password", value: $('#password-input').val()});
            $.ajax({
                type: "POST",
                url: "/registration",
                data: formData,
                dataType: "html",
                success: function (data) {
                    $('body').html(data)
                }
            });
        });

    });
</script>
</body>
</html>
